#Accounts {
	display: grid;
	margin: 2px;
	border-style: solid;
	border-radius: 8px;
	min-width: 8em;
	background: antiquewhite;
}

#Accounts:hover {
	cursor: pointer;
}

	
/*fl w-25 tc*/

.Account {
	margin:.25em;
	min-width: 8em;
	display: flex;
	flex-wrap: nowrap;
    justify-content: center;
}



/*fl w-30 tc tc bg-white nowrap*/