.bg-white {
	padding: 0;
	border-style: none solid none none;
	border-left: black;
	background: none;
}

.bg-white:onclick {
	padding: 0;
	border-style: solid;
	border-left: black;
	background: none;
}

/*.bg-white:hover {
	cursor: pointer;
}*/
/*#Transaction {
	display: grid;
	grid: auto / auto auto auto auto auto auto;

	width: auto;
	justify-content: right;
}*/

.transaction {
	/*background: lightblue;*/
	border-style: none solid none none; 
	margin: .5em;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}

.date {
	flex-grow: 0;
	justify-items: left;
	width: 8em;
}

.vendor {
	flex-grow: 2;
	text-align: left;
	/*width: 15em;*/
	min-width: 8em;
}

.dollar {
	border-style: none;
}

.amount {
	text-align: right;
	padding-right: 1em;
	width: 5em;
}

.status {
	min-width: 5em;
}

.category {
	flex-grow: 0;
	width: 8em;
}

.edit {
	padding-right: .5em;
}












